@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
